html {
  height: 100%
}

body {
  min-height: 100%;
  height: 100%;
  background-color: transparent;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

#root {
  height: 100%;
}

.Header {
  background-color: rgba(252, 90, 44, 0.89);
  height: 64px;
  padding: 14px 14px 14px 5px;
}

.Header h2 {
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .Header h2 {
    font-size: 26px;
  }
}

.Header a {
  color: white;
}

.Header input[type="text"] {
  margin-right: 10px;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.Home {
  min-height:100%;
  background-size: cover;
  background-image: url('/images/pattern.svg');
  padding: 18% 0;
  color: white;
}

.Home h1 {
  font-weight: 100;
  font-size: 45px;
}

.Home form {
  width: 172px;
  display: inline-block;;
}

.Home input[type="text"] {
  margin-bottom: 10px;
}

#forecast {
  margin-top: 50px;
}

#forecast h1 {
  font-weight: 100;
  font-size: 65px;
  margin-bottom: 30px;
}

#forecast p {
  font-size: 30px;
  font-weight: 100;
}

#forecast img,
#forecast-detail img {
  height: 19vh;
}

#forecast-daily-container {
 margin-top: 80px;
}

.forecast-daily {
  min-height: 240px;
  cursor: pointer;
}

#forecast-detail {
  margin-top: 30px;
}

#forecast-detail h2 {
  font-weight: 100;
  font-size: 30px;
}

#forecast-detail p {
  font-size: 34px;
  font-weight: 100;
}
